.header {
    text-align: center;
    background-color: gray;
    padding: 10px;
}

body {
    background-color: rgba(222, 77, 24, 0.386);
}

#forecast {
    display: flex;   
    justify-content: center;
    margin: 0%;
}

.items {
    padding: 15pt;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    height: 50px;
    margin: 5px; /* */
}